body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(216, 216, 245);
}

* {
  box-sizing: border-box;
}
.container {
  padding: 16px;
  background-color: white;
  width: 450px;
  height: 550px;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 3%;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #ebdede;
  margin-bottom: 25px;
}
.btn {
  background-color: blue;
  widows: 500px;
  height: 45px;
  color: white;
  width: 100%;
  cursor: pointer;
}
.login_form #name_err,
.login_form #email_err,
.login_form #pass_err {
  /* width: 400px;
  font-size: 18px; */
  color: #c62828;
  /* text-align: center; */
  /* padding: 5px 8px; */
  /* border-radius: 3px; */
  /* border: 1px solid #ef9a9a; */
  display: none;
}
